<div class="container card text-black bg-light">
  <div class="card-body" >
    <h3 class="pb-10">Lotto Form</h3>
    <div class="row pl-5 pr-5">
      <div class="col-10">
        <app-view-picked-numbers></app-view-picked-numbers>
      </div>      
      <div class="col-2">
        <button class="btn btn-primary" (click)="getLottoDatta()">Auto Fill</button>        
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <app-results-table></app-results-table>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>