<div class="container card text-black bg-light">
  <div class="card-body" >
    <h3 class="pb-10">Lotto Form</h3>
    <div class="row pl-5 pr-5">
      <div class="col-10">
        <app-view-picked-numbers></app-view-picked-numbers>
      </div>      
      <div class="col-2">
        <button class="btn btn-primary" (click)="getLottoDatta()">Auto Fill</button>        
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="numberList row pl-5 pr-5 pt-3">
          <div class="col-1"><app-form-box lottoNumber="1"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="2"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="3"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="4"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="5"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="6"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="7"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="8"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="9"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="10"></app-form-box></div>
        
          <div class="col-1"><app-form-box lottoNumber="11"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="12"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="13"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="14"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="15"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="16"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="17"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="18"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="19"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="20"></app-form-box></div>
       
          <div class="col-1"><app-form-box lottoNumber="21"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="22"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="23"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="24"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="25"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="26"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="27"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="28"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="29"></app-form-box></div>
          <div class="col-1"><app-form-box lottoNumber="30"></app-form-box></div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>