<div class="row">
  <div class="col pt-1 pb-1"><span class="numberCircle">{{display1stPick}}</span></div>
  <div class="col pt-1 pb-1"><span class="numberCircle">{{display2ndPick}}</span></div>
  <div class="col pt-1 pb-1"><span class="numberCircle">{{display3rdPick}}</span></div>
  <div class="col pt-1 pb-1"><span class="numberCircle">{{display4thPick}}</span></div>
  <div class="col pt-1 pb-1"><span class="numberCircle">{{display5thPick}}</span></div>
  <div class="col pt-1 pb-1"><span class="numberCircle">{{display6thPick}}</span></div>
  <div class="col pt-1 pb-1 pr-md-1 pr-lg-2"><span class="numberCircle">{{display7thPick}}</span></div>  
  <div class="col pt-1 pb-1"><span class="numberCirclePB">{{displayPBPick}}</span></div>
</div>